* {
  padding: 0 0;
  margin: 0 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  /* border: 1px solid seagreen; */


  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

html,
body {
  position: relative;
  height: 100%;
}

.main-slider-none {
  display: none;
}


h1 {
  text-align: left;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* menu active */

.menu-active {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(255, 255, 255), #7db8d5, #34789a, #076290);
  overflow: hidden;
  z-index: 120;
  transition: 1s all ease;
  display: inline;
  opacity: 0;
  z-index: -50;
}

.menu-active.clicked {
  z-index: 200;
  opacity: 1;
}

.menu-active span {
  position: absolute;
  bottom: -50px;
  background-color: #ffffff32;
  border-radius: 50%;
  pointer-events: none;
  animation: animate 6s linear infinite;
}

.img-container-menu-active {
  width: 16%;
  overflow: hidden;
}

.img-container-menu-active img {
  width: 100%;
}

.innner-menu-active {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
}

.close-stand-navigation {
  display: flex;
  position: relative;
  justify-content: end;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.close-stand-navigation:hover small {
  color: red;
  margin-left: 20px;
}

.close-stand-navigation:hover small:after {
  background-color: red;
  width: 40px;
}

.close-stand-navigation:hover i {
  background-color: red;
  color: #fff;
  border: 3px solid #fff;
  transition: 0.5s all ease;
}

.close-stand-navigation small {
  font-size: 13px;
  text-transform: uppercase;
  padding: 0 70px 0 0;
  position: relative;
  font-weight: 400;
  color: #fff;
  transition: 0.5s all ease;
}

.close-stand-navigation i {
  padding: 10px;
  margin-left: 5px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid transparent;
  transition: 0.5s all ease;
}


.close-stand-navigation small:after {
  content: "";
  position: absolute;
  background-color: hsla(0, 0%, 100%, .5);
  height: 1px;
  width: 60px;
  top: 50%;
  right: 0;
  transition: 0.5s all ease;
}

.stand-navigation ul li {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  transition: all .3s ease-in-out;
  font-size: 3.2vh;
  font-weight: 300;
  line-height: 1.4;
  color: #fff;
  float: none;
  width: 100%;
  margin: 3.3vh 0;
  justify-content: end;
  cursor: pointer;
}

.current-li {
  font-weight: bold;
  pointer-events: none;
}

.stand-navigation ul li:hover {
  color: #000;
}

.stand-navigation ul li div {
  font-size: 1.5vh;
  margin: 0 0 0 30px;
  vertical-align: middle;
}

.bubbles-menu-active {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.first-bub {
  position: absolute;
  right: 35%;
  bottom: 15%;
  width: 280px;
  height: 280px;
  background-color: #ffffff32;
  border-radius: 50%;
  animation-name: bigOneTree2;
  animation-duration: 28s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: initial;
}

.second-bub {
  position: absolute;
  right: 45%;
  bottom: 70%;
  width: 125px;
  height: 125px;
  background-color: #ffffff32;
  border-radius: 50%;
  animation-name: bigOneTree;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: initial;
}

.third-bub {
  position: absolute;
  right: 48%;
  bottom: 45%;
  width: 70px;
  height: 70px;
  background-color: #ffffff32;
  border-radius: 50%;
}

.fourth-bub {
  position: absolute;
  right: 44%;
  bottom: 55%;
  width: 40px;
  height: 40px;
  background-color: #ffffff32;
  border-radius: 50%;
}

.fifth-bub {
  position: absolute;
  right: 46%;
  bottom: 82%;
  width: 55px;
  height: 55px;
  background-color: #ffffff32;
  border-radius: 50%;
}


@keyframes bigOneTree2 {
  100% {
    transform: rotate(0deg) scaleX(1);
    opacity: 1;
  }

  80% {
    transform: rotate(90deg) scaleX(.9);
    opacity: .9;
  }

  60% {
    transform: rotate(135deg) scaleX(1.1);
    opacity: .8;
  }

  33% {
    transform: rotate(235deg) scaleX(.9);
    opacity: .9;
  }

  0% {
    transform: rotate(1turn) scaleX(1.1);
    opacity: 1;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  100% {
    transform: translateY(-3000%);
    opacity: 1;
  }
}

@keyframes fadeinout {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

/* Ẩn 2 thanh cuộn */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  overflow: hidden;
}


/* navigation */
.navigation {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  width: 100%;
  padding: 0 30px;
}

.logo-container {
  width: 120px;
  transition: 1s all ease;
}

.logo-container img {
  width: 100%;
}

/* right menu */
.right-menu {
  display: flex;
  align-items: center;
  color: #076290;
}

.find-icon {
  margin-right: 30px;
}

.usa-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.usa-icon img {
  width: 100%;
}

.menu-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #076290;
  width: 75px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.hover-div {
  content: "";
  display: block;
  width: 75px;
  height: 60px;
  background-color: #076290;
  position: absolute;
  top: 0;
  left: -101%;
  transition: 0.5s all;
}

.menu-bar:hover .hover-div {
  left: 0%;
}

.menu-bar:hover {
  color: #fff;
}


.menu-bar i {
  font-size: 21px;
  z-index: 2;
  transition: 0.5s all;
}

.menu-bar span {
  z-index: 2;
  transition: 0.5s all;
}

/* main-slider */

.main-slider {
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: z-index 0.3s ease;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: transparent;
  opacity: 1 !important;
  border: transparent;
  color: #076290 !important;
  font-weight: 600;
  margin: 20px 0;
}

.swiper-slide-active {
  z-index: 2 !important;
}

.swiper-pagination-bullet-active {
  border-bottom: #076290 1px solid !important;
  border-radius: 0% !important;
  animation: wipe 0.3s;
  text-align: center !important;
}

@keyframes wipe {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

/* Swiper 1 */

:root {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

* {
  margin: 0;
  box-sizing: border-box;
}

/* carousel */
.carousel {
  position: relative;
  height: 100%;
}

.carousel_inner {
  width: 100%;
  overflow: hidden;
  height: 730px;
  position: relative;
}

.carousel_inner::after {
  content: "";
  display: block;
  clear: both;
}

.carousel_item {
  position: relative;
  float: left;
  display: none;
  width: 100%;
  margin-right: -100%;
}

/* slide effect */
.carousel_item__active,
.carousel_item__pos_next {
  display: block;
}

.carousel_item__pos_next {
  left: 100%;
}

.carousel_item__next {
  transform: translateX(-100%);
  transition: transform .5s ease-in-out;
}

/* fade effect */
.carousel__fade .carousel_item__pos_next {
  left: 0;
  opacity: 0;
}

.carousel__fade .carousel_item__next {
  transform: none;
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.carousel__fade .carousel_item__active.carousel_item__next {
  opacity: 0;
}

/* carousel */
.carousel_img {
  display: block;
  width: 100%;
}

/* dots */

.dots {
  position: absolute;
  display: flex;
  bottom: 60px;
  right: 35%;
}

.carousel .dots li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 35px;
  height: 35px;
  border: #fff 4px solid;
  color: #fff;
  font-weight: 700;
  margin: 10px;
  border-radius: 50%;
  transition: 0.5s;
  z-index: 4;
}

.carousel .dots li.active {
  border: red 4px solid;
  color: red;
}


/* nineteen-years */

.nineteen-years {
  width: 100%;
  overflow: hidden;
  height: 730px;
  position: relative;
  opacity: 0;
  transition-delay: 1s;
}

.circle {
  width: 750px;
  height: 750px;
  background-color: #076290;
  border-radius: 50%;
  /* animation: pulse 2s infinite alternate; */
  position: absolute;
  right: -3%;
  top: 20%;
  transition: 2s all;
  opacity: 0.1;
}

@keyframes pulse {
  0% {
    width: 440px;
    height: 460px;
  }

  100% {
    height: 470px;
    width: 450px;
  }
}

.bubles {
  position: relative;
  margin-top: 120px;
  /* Điều chỉnh độ cao tùy thích */
  opacity: 0;
}

.bubble {
  background-color: rgba(176, 225, 246, 0.201);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  transition: 2s all;
  width: 100%;
}

.bubles:hover .bubble {
  bottom: 80px;
  /* Khi hover, đẩy hình tròn lên lên */
}

.bubble-1 {
  width: 100%;
  height: 235px;
  left: 400px;
  top: 30%;
  animation: pulse1 3s infinite alternate;
  transition: all 0.7s ease;
}

.bubble-2 {
  width: 70px;
  height: 70px;
  left: 450px;
  top: 28%;
  animation: pulse2 3s infinite alternate;
  transition: all 0.7s ease;
}

.bubble-3 {
  width: 100px;
  height: 100px;
  left: 190px;
  top: 22%;
  animation: pulse3 3s infinite alternate;
  transition: all 0.7s ease;
}

.bubles:hover .bubble-1 {
  transform: translate(20px, 20px);
}

.bubles:hover .bubble-2 {
  transform: translate(15px, 15px);
}

.bubles:hover .bubble-3 {
  transform: translate(110px, 50px);
}

@keyframes pulse1 {
  0% {
    width: 225px;
    height: 245px;

  }

  100% {
    width: 245px;
    height: 225px;
  }
}

@keyframes pulse2 {
  0% {
    width: 85px;
    height: 70px;
  }

  100% {
    width: 70px;
    height: 85px;
  }
}

@keyframes pulse3 {
  0% {
    width: 120px;
    height: 96px;
  }

  100% {
    width: 96px;
    height: 120px;
  }
}

/* in-19-year */

.in-19-year {
  z-index: 4;
  width: 60%;
  height: 25px;
  display: flex;
  align-items: center;
  position: relative;
  top: 38%;
  left: 3%;
  transition: 3s all;
}

.in-19-year p {
  font-size: 450px;
  color: #EAEAEA;
  font-weight: 700;
  position: absolute;
  z-index: -1;
}

.in {
  font-size: 45px;
  font-weight: 800;
  color: #bbbbbb;
  margin-left: -70px;
}

.year {
  font-size: 45px;
  font-weight: 800;
  color: #bbbbbb;
  margin-left: 290px;
}

/* data-19-years */

.data-19-years {
  position: absolute;
  bottom: -50px;
  opacity: 0;
  left: 0;
  transition: 2s all;
}

.data-container {
  display: flex;
}

.data-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.data-icon h1 {
  font-size: 15px;
  font-weight: 500;
  color: #076290;
}

.data-icon h1 span {
  font-size: 50px;
  color: #000;
}

.data-icon p {
  font-size: 15px;
  font-weight: 500;
  color: #076290;
}

/* typical-projects */



.typical-projects {
  width: 100%;
  height: 730px;
  background-color: #076290;
  position: relative;
}


.container {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.circle21 {
  border-radius: 50%;
  background-color: rgba(176, 225, 246, 0.201);
  position: absolute;
  transition: 0.5s all ease;
  z-index: -1;
  opacity: 0;
  transition: 2s;

}

.container:hover .projects-circle-1 {
  transform: translate(20px, 20px);
  /* Di chuyển hình tròn đi 20px khi di chuột qua */
}

.container:hover .projects-circle-2 {
  transform: translate(15px, 15px);
  /* Di chuyển hình tròn đi 20px khi di chuột qua */
}

.container:hover .projects-circle-3 {
  transform: translate(110px, 50px);
  /* Di chuyển hình tròn đi 20px khi di chuột qua */
}

.projects-circle-1 {
  width: 175px;
  height: 175px;
  position: absolute;
  right: 70%;
  top: 90px;
  animation-delay: 2s;
  animation: projects1 3s infinite alternate;
}

.projects-circle-2 {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 70%;
  top: 90px;
  animation-delay: 2s;
  animation: projects2 3s infinite alternate;
}

.projects-circle-3 {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 62%;
  top: 100px;
  animation-delay: 2s;
  animation: projects3 2s infinite alternate;
}


@keyframes projects1 {
  0% {
    width: 170px;
    height: 180px;

  }

  100% {
    width: 180px;
    height: 170px;
  }
}

@keyframes projects2 {
  0% {
    width: 50px;
    height: 40px;

  }

  100% {
    width: 40px;
    height: 50px;
  }
}

@keyframes projects3 {
  0% {
    width: 85px;
    height: 75px;
  }

  100% {
    width: 75px;
    height: 85px;
  }
}

/*  */

.swiper-slide .swiper .kakaka {
  background: #076290;
}

/* 
.img-kakaka-cover {
  width: 40%;
  background: transparent;
} */

.content-kakaka-cover {
  width: 100%;
  padding: 0 100px;
  background-color: #076290;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-kakaka-cover img {
  width: 60%;
  height: auto;
}

.inner-content-kakaka {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  margin-top: -100px;
  align-items: start;
}

.inner-content-kakaka h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
  text-align: left;
  color: #fff;
}

.inner-content-kakaka h2 {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
  text-align: left;
  color: #fff;
}

.inner-content-kakaka p {
  line-height: 1.6;
  font-size: 12px;
  color: #fff;
  text-align: left;
}

.inner-content-kakaka div {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  border: 1px solid #fff;
  font-size: 14px;
  color: #fff;
  margin: 20px 0 0;
  cursor: pointer;
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 2;
  transition: 0.5s all;

  &::before {
    content: "XEM CHI TIeT";
    position: absolute;
    background: #fff;
    padding: 15px 20px;
    border: 1px solid #fff;
    top: 0;
    left: -100%;
    transition: 0.5s all;
    z-index: 1;
  }
}

.inner-content-kakaka div:hover::before {
  left: 0%;
}

.inner-content-kakaka div:hover {
  color: #076290;
}

.outer-kakaka {
  width: 100%;
  background-color: #076290;
}

.swiper-button-next-kkk {
  color: #fff;
  width: 30px;
  height: 40px;
  position: absolute;
  top: 0;
  z-index: 5;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: 'prev';
  margin-left: 1500px;
  margin-top: 320px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: 'next';
  margin-right: 750px;
  margin-top: 320px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 20px;
  color: #fff;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  background-color: #bbbbbb;
  padding: 10px;
}



/*  */

.slider {
  width: 1300px;
  max-width: 100vw;
  height: 700px;
  margin: auto;
  position: relative;
  overflow: hidden;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.slider .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 2s all;
  margin-top: 295px;
  opacity: 0;
}

.slider .buttons {
  position: absolute;
  top: 92%;
  left: 58%;
  width: 90%;
  display: flex;
  opacity: 0;
}

.slider .buttons button {
  width: 50px;
  height: 50px;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}

#next {
  margin-left: 20px;
  transition: 0.3s all;
}

#next:hover {
  width: 55px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.693);
  font-size: 25px;
}

#prev {
  margin-left: 20px;
  transition: 0.3s all;

}

#prev:hover {
  width: 55px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.693);
  font-size: 25px;
}

.img-container-slider {
  width: 725px;
  height: 475px;
  overflow: hidden;
}

.img-container-slider img {
  width: 725px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}

.item {
  width: 100%;
  display: flex;
}

.content-container {
  margin-left: 35px;
}

.item-banner-big {
  width: 1300px;
}

.content-container h2 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
}

.content-container h1 {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 2.3vw;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
}


.content-container p {
  -webkit-text-size-adjust: none;
  line-height: 1.6;
  font-size: 16px;
  color: #fff;
  width: 410px;
}

.btn-content-container {
  font-family: Oswald, sans-serif;
  width: 115px;
  height: 45px;
  border: 1px solid #fff;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInUp .6s ease .2s forwards;
  font-size: 14px;
  color: #fff;
  font-weight: 800;
  margin-top: 30px;
  overflow: hidden;
  position: relative;
}

.btn-content-container-div {
  position: absolute;
  content: "";
  display: block;
  left: -101%;
  background: #fff;
  width: 115px;
  height: 45px;
  transition: 0.5s all;
  z-index: -1;
}

.btn-content-container:hover .btn-content-container-div {
  left: 0%;
}

.btn-content-container:hover {
  color: #076290;
}

/* news-events */
.news-events {
  width: 100%;
  height: 730px;
  padding-top: 90px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.news-events h1 {
  color: #cbcbcb;
  font-size: 2.1vw;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 245px;
}

.inner-news-events {
  display: flex;
}

.col-1-news {
  width: 445px;
  height: 100%;
  transition: box-shadow 0.3s ease;
  margin-left: -1200px;
}

.col-1-news:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.295);
}

.inner-news1:hover .img-news1-container img {
  transform: translateY(-5%);
}

.inner-news1:hover .day-news1 {
  background-color: red;
  color: #fff;
}


.inner-news1 {
  padding: 20px;
}

.img-news1-container {
  overflow: hidden;
}

.inner-news1 img {
  width: 120%;
  transition: 0.7s all;
}

.day-news1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #076290;
  width: 65px;
  height: 60px;
  color: #fff;
  margin-top: 20px;
  transition: 0.3s all;
}

.month {
  font-size: 26px;
  font-weight: 700;
}

.my {
  font-size: 10px;
}

.content-news1-container p {
  font-size: 16px;
  font-weight: 300;
  color: #444;
  margin-top: 20px;
}

.mt {
  margin-top: 15px;
}

.col-2-news {

  margin-left: 1200px;
  margin-top: 1200px;
}

.news2-2 {
  margin-top: 30px;
}

.inner-news2-1 {
  width: 680px;
  height: 100%;
  display: flex;
  padding: 5px;
}

.inner-news2-1:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.295);
}

.inner-news2-1:hover .img-news2-container img {
  transform: translateY(-5%);
}

.inner-news2-1:hover .thumb2 {
  background-color: red;
  color: #fff;
}

.img-news2-container {
  overflow: hidden;
  width: 300px;
  height: 180px;
}

.img-news2-container img {
  width: 120%;
  transition: 0.7s all;
}

.content-news2-container {
  width: 325px;
  margin-left: 35px;
}

.content-news2-container p {
  margin-top: 25px;
}

.btn-news-events {
  margin-left: 20px;
  width: 120px;
  height: 45px;
  background: transparent;
  border: #076290 1px solid;
  color: #076290;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 800;
  font-family: Oswald, sans-serif;
  position: relative;
  overflow: hidden;
  transition: 0.3s all;
  margin-top: 30px;
}

.btn-news-events div {
  position: absolute;
  left: -102%;
  background-color: red;
  width: 120px;
  height: 45px;
  transition: 0.3s all;
  z-index: -1;
}

.btn-news-events:hover div {
  left: 0%;
}

.btn-news-events:hover {
  color: #fff;
  border: transparent;
}



.thumb2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #076290;
  width: 65px;
  height: 60px;
  color: #fff;
  transition: 0.3s all;
}

/* bubble new */

.bubbles-new {
  position: absolute;
  bottom: 60px;
  opacity: 0;
  right: 0%;
}

.buble-new1 {
  width: 200px;
  height: 200px;
  background-color: rgba(176, 225, 246, 0.201);
  border-radius: 50%;
  right: 190px;
  bottom: 0px;
  position: absolute;
  animation: news1 2s infinite alternate;
  transition: 0.5s all;
  pointer-events: none;
}

.buble-new2 {
  width: 90px;
  height: 90px;
  background-color: rgba(176, 225, 246, 0.201);
  border-radius: 50%;
  position: absolute;
  right: 180px;
  bottom: -10px;
  animation: news2 2s infinite alternate;
  transition: 0.5s all;
}

.buble-new3 {
  width: 45px;
  height: 45px;
  background-color: rgba(176, 225, 246, 0.201);
  border-radius: 50%;
  position: absolute;
  right: 90px;
  bottom: 160px;
  animation: news3 2s infinite alternate;
  transition: 0.5s all;
}

.bubbles-new:hover .buble-new1 {
  transform: translate(10px, 20px);
}

.bubbles-new:hover .buble-new2 {
  transform: translate(20px, 30px);
}

.bubbles-new:hover .buble-new3 {
  transform: translate(30px, 50px);
}

@keyframes news3 {
  0% {
    width: 45px;
    height: 48px;

  }

  50% {
    width: 44px;
    height: 44px;
  }

  100% {
    width: 42px;
    height: 42px;
  }
}

@keyframes news2 {
  0% {
    width: 88px;
    height: 92px;

  }

  50% {
    width: 91px;
    height: 92px;
  }

  100% {
    width: 90px;
    height: 89px;
  }
}

@keyframes news1 {
  0% {
    width: 197px;
    height: 220px;

  }

  50% {
    width: 205px;
    height: 205px;
  }

  100% {
    width: 208px;
    height: 196px;
  }
}

.ignore-bubble-new {
  pointer-events: none;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: rgba(176, 225, 246, 0.201);
  position: absolute;
  bottom: -20%;
  left: -5%;
  animation: new-en 2s infinite alternate;
}

@keyframes new-en {
  0% {
    width: 555px;
    height: 546px;

  }

  50% {
    width: 568px;
    height: 557px;
  }

  100% {
    width: 545px;
    height: 552px;
  }
}


/* partner */

.partner h1 {
  color: #cbcbcb;
  font-size: 2.1vw;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 245px;
  padding-top: 50px;
}

.partner {
  width: 100%;
  height: 730px;
  position: relative;
  overflow: hidden;
}

.inner-partner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 240px;
}

.brand {
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  padding-top: 50px;
}

.brand:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.477);
}

.brand:hover .img-container img {
  width: 90%;
}

.brand:hover .img-container {
  border: 1px solid #bbbbbb5f;
}

.inner-brand {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brand h2 {
  font-size: 13px;
  font-weight: 500;
  color: #076290;
  height: auto;
  max-height: 42px;
  margin-top: 15px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85px;
  border: 1px solid #bbbbbb;
  padding: 5px;
  transition: 0.3s all;
}

.navigation.sticky {
  padding: 0 10px;
  margin: 0 auto;
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: 0.5s all ease;
}


.img-container img {
  width: 70%;
  transition: 0.3s all;
}

.ignore-bubble-brand {
  pointer-events: none;
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  background-color: rgba(176, 225, 246, 0.201);
  position: absolute;
  top: -20%;
  right: 10%;
  transition: all 2s;
  animation: brand-en 2s infinite alternate;
  animation-delay: 2s;
  opacity: 0;
}


@keyframes brand-en {
  0% {
    width: 555px;
    height: 546px;

  }

  50% {
    width: 568px;
    height: 557px;
  }

  100% {
    width: 545px;
    height: 552px;
  }
}

/* client */
.clients {
  width: 100%;
  height: 730px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  position: relative;
  overflow: hidden;
}

.h1-client {
  text-align: left;
  color: #cbcbcb;
  pointer-events: none;
  margin: 0 0 30px;
  z-index: 5;
  font-size: 2.1vw;
  margin-top: 100px;
  margin-left: 375px;
  margin-bottom: -160px;
}

.slider1 {
  width: 785px;
  height: 335px;
  margin: auto;
  position: relative;
  overflow: hidden;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 330px;
  transition: 2s all;
  opacity: 0;
}

.slider1 .list1 {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}

.slider1 .buttons1 {
  position: absolute;
  top: 81%;
  left: 36%;
  width: 90%;
  display: flex;
}

.slider1 .buttons1 button {
  width: 50px;
  height: 50px;
  background-color: rgba(176, 225, 246, 0.567);
  color: #076290;
  border: none;
  font-family: monospace;
  font-weight: bold;
  font-size: 25px;
}

#next1 {
  margin-left: 20px;
  transition: 0.3s all;
}

#next1:hover {
  width: 55px;
  height: 55px;
  background-color: rgba(176, 225, 246, 0.695);

}

#prev1 {
  margin-left: 20px;
  transition: 0.3s all;

}

#prev1:hover {
  width: 55px;
  height: 55px;
  background-color: rgba(176, 225, 246, 0.695);
}

.img-container-slider1 {
  width: 265px;
  height: 785px;
  overflow: hidden;
}

.img-container-slider1 img {
  /* width: 265px; */
  height: 100%;
  object-fit: cover;
  margin-top: -35%;
}

.item1 {
  width: 100%;
  display: flex;
}

.content-container1 {
  margin-left: 35px;
}

.content-container1 i {
  color: rgb(146, 161, 168);
  font-size: 50px;
}

.content-container1 h2 {
  color: #000;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  margin-top: 25px;
}


.content-container1 p {
  -webkit-text-size-adjust: none;
  line-height: 1.6;
  font-size: 14px;
  color: #000;
  width: 480px;
  max-height: 143px;
  overflow: hidden;
}



/* bubble client */
.bubbles-clients {
  position: absolute;
  bottom: 260px;
  left: 23%;
}

.buble-clients1 {
  width: 200px;
  height: 200px;
  background-color: #07629012;
  border-radius: 50%;
  right: 190px;
  bottom: 0px;
  position: absolute;
  animation: cln1 2s infinite alternate;
  transition: 0.5s all;
}

.buble-clients2 {
  width: 90px;
  height: 90px;
  background-color: rgba(176, 225, 246, 0.201);
  border-radius: 50%;
  position: absolute;
  right: 180px;
  bottom: 130px;
  animation: cln2 2s infinite alternate;
  transition: 0.5s all;
}

.buble-clients3 {
  width: 45px;
  height: 45px;
  background-color: rgba(176, 225, 246, 0.201);
  border-radius: 50%;
  position: absolute;
  right: 210px;
  bottom: 260px;
  animation: cln3 2s infinite alternate;
  transition: 0.5s all;
}

.bubbles-clients:hover .buble-clients1 {
  transform: translate(30px, 40px);
}

.bubbles-clients:hover .buble-clients2 {
  transform: translate(40px, 70px);
}

.bubbles-clients:hover .buble-clients3 {
  transform: translate(30px, 50px);
}

@keyframes news3 {
  0% {
    width: 45px;
    height: 48px;

  }

  50% {
    width: 44px;
    height: 44px;
  }

  100% {
    width: 42px;
    height: 42px;
  }
}

@keyframes news2 {
  0% {
    width: 88px;
    height: 92px;

  }

  50% {
    width: 91px;
    height: 92px;
  }

  100% {
    width: 90px;
    height: 89px;
  }
}

@keyframes news1 {
  0% {
    width: 197px;
    height: 220px;

  }

  50% {
    width: 205px;
    height: 205px;
  }

  100% {
    width: 208px;
    height: 196px;
  }
}

.ignore-bubble-client {
  pointer-events: none;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  background-color: #07629012;
  position: absolute;
  top: 20%;
  right: -5%;
  animation: client-en 2s infinite alternate;
  animation-delay: 2s;
}


@keyframes client-en {
  0% {
    width: 455px;
    height: 446px;

  }

  50% {
    width: 468px;
    height: 457px;
  }

  100% {
    width: 445px;
    height: 452px;
  }
}

/* contact */


.contact {
  width: 100%;
  height: 730px;
  padding-left: 215px;
}

.contact h1 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  color: #cbcbcb;
  pointer-events: none;
  margin-top: 150px;
  transition: all 2s;
}

.contact h1::after {
  content: "";
  position: relative;
  display: block;
  margin: 20px auto 0;
  width: 80%;
  height: 1px;
  background: linear-gradient(90deg, hsla(0, 0%, 80%, 0), #ccc 20%, #ccc 80%, hsla(0, 0%, 80%, 0));
}

.company-info li span {
  font-size: 15px;
  font-weight: 700;
  color: #444;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px 0 0;
  line-height: 1.8;
}

.company-info li {
  margin: 30px 0 10px;
  display: flex;
  align-items: start;
}

.company-info li p {
  margin-left: 20px;
  font-weight: 300;
}

.company-info h2 {
  color: #076290;
  text-transform: uppercase;
}

.company-info ul {
  margin-top: 20px;
}

.company-info ul li i {
  color: #cbcbcb;
  font-size: 25px;
  margin-right: 20px;
  cursor: pointer;
}

.input {
  position: relative;
}

.btn-ip {
  position: absolute;
  width: 55px;
  height: 40px;
  background-color: #076290;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

input[type="text"] {
  width: 300px;
  height: 50px;
  padding-left: 20px;
}



/* ACTIVE */

.swiper-slide-active .nineteen-years {
  opacity: 1;
  transition: 0.1s all;
}

.swiper-slide-active .nineteen-years .circle {
  width: 450px;
  height: 450px;
  animation: pulse 2s infinite alternate;
  animation-delay: 2s;
  opacity: 1;
}

.swiper-slide-active .nineteen-years .in-19-year {
  transition: all 2s;
  margin-left: 620px;
}

.swiper-slide-active .nineteen-years .bubles {
  opacity: 1;
}

.swiper-slide-active .nineteen-years .data-19-years {
  opacity: 1;
  bottom: 100px;
}

/* ---- */

.swiper-slide-active .typical-projects .slider {
  opacity: 1;
  transition: all 2s;
}

.swiper-slide-active .slider .list {
  margin-top: 145px;
  opacity: 1;
}

.swiper-slide-active .slider .buttons {
  top: 82%;
  opacity: 1;
  transition: 2s all;
}

.swiper-slide-active .typical-projects .container .circle21 {
  opacity: 1;
}

.swiper-slide-active .news-events .col-1-news {
  margin-left: 0px;
  transition: 2s all;
  transition-delay: 0.5;
}

.swiper-slide-active .news-events .col-2-news {
  margin-top: 0px;
  margin-left: 30px;
  transition: 2s all;
  transition-delay: 0.5;
}

.swiper-slide-active .news-events {
  opacity: 1;
  transition: 3s all;
}


.swiper-slide-active .partner .inner-partner .brand {
  padding-top: 0px;
  opacity: 1;
  transition: 3s;
}

.swiper-slide-active .partner .ignore-bubble-brand {
  width: 450px;
  height: 450px;
  transition: 2s all;
  animation: pulse 2s infinite alternate;
  animation-delay: 2s;
  opacity: 1;
}

.swiper-slide-active .partner .bubbles-new {
  opacity: 1;
  transition: 2s;
}

.swiper-slide-active .clients .ignore-bubble-client {
  width: 450px;
  height: 450px;
  transition: 2s all;
  animation: pulse 2s infinite alternate;
  animation-delay: 2s;
}

.swiper-slide-active .clients .slider1 {
  margin-top: 200px;
  transition: 2s all;
  opacity: 1;
}

.swiper-slide-active .contact h1 {
  margin-top: 120px;
  transition: 2s all;
}
