* {
    padding: 0 0;
    margin: 0 0;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    /* border: 1px solid seagreen; */
    scroll-behavior: smooth;

    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

.menu-active {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(255, 255, 255), #7db8d5, #34789a, #076290);
    overflow: hidden;
    z-index: 120;
    transition: 1s all ease;
    display: inline;
    opacity: 0;
    z-index: -50;
}

.menu-active.clicked {
    z-index: 200;
    opacity: 1;
}

.menu-active span {
    position: absolute;
    bottom: -50px;
    background-color: #ffffff32;
    border-radius: 50%;
    pointer-events: none;
    animation: animate 6s linear infinite;
}

.img-container-menu-active {
    width: 16%;
    overflow: hidden;
}

.img-container-menu-active img {
    width: 100%;
}

.innner-menu-active {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

.close-stand-navigation {
    display: flex;
    position: relative;
    justify-content: end;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.close-stand-navigation:hover small {
    color: red;
    margin-left: 20px;
}

.close-stand-navigation:hover small:after {
    background-color: red;
    width: 40px;
}

.close-stand-navigation:hover i {
    background-color: red;
    color: #fff;
    border: 3px solid #fff;
    transition: 0.5s all ease;
}

.close-stand-navigation small {
    font-size: 13px;
    text-transform: uppercase;
    padding: 0 70px 0 0;
    position: relative;
    font-weight: 400;
    color: #fff;
    transition: 0.5s all ease;
}

.close-stand-navigation i {
    padding: 10px;
    margin-left: 5px;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid transparent;
    transition: 0.5s all ease;
}


.close-stand-navigation small:after {
    content: "";
    position: absolute;
    background-color: hsla(0, 0%, 100%, .5);
    height: 1px;
    width: 60px;
    top: 50%;
    right: 0;
    transition: 0.5s all ease;
}

.stand-navigation ul li a {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
    font-size: 3.2vh;
    font-weight: 300;
    line-height: 1.4;
    color: #fff;
    float: none;
    width: 100%;
    justify-content: end;
    cursor: pointer;
}

.current-li {
    font-weight: bold;
    pointer-events: none;
}

.stand-navigation ul li a:hover {
    color: #000;
    text-decoration: none;
}

.stand-navigation ul li div {
    font-size: 1.5vh;
    margin: 0 0 0 30px;
    vertical-align: middle;
}

.bubbles-menu-active {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.first-bub {
    position: absolute;
    right: 35%;
    bottom: 15%;
    width: 280px;
    height: 280px;
    background-color: #ffffff32;
    border-radius: 50%;
    animation-name: bigOneTree2;
    animation-duration: 28s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: initial;
}

.second-bub {
    position: absolute;
    right: 45%;
    bottom: 70%;
    width: 125px;
    height: 125px;
    background-color: #ffffff32;
    border-radius: 50%;
    animation-name: bigOneTree;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: initial;
}

.third-bub {
    position: absolute;
    right: 48%;
    bottom: 45%;
    width: 70px;
    height: 70px;
    background-color: #ffffff32;
    border-radius: 50%;
}

.fourth-bub {
    position: absolute;
    right: 44%;
    bottom: 55%;
    width: 40px;
    height: 40px;
    background-color: #ffffff32;
    border-radius: 50%;
}

.fifth-bub {
    position: absolute;
    right: 46%;
    bottom: 82%;
    width: 55px;
    height: 55px;
    background-color: #ffffff32;
    border-radius: 50%;
}


@keyframes bigOneTree2 {
    100% {
        transform: rotate(0deg) scaleX(1);
        opacity: 1;
    }

    80% {
        transform: rotate(90deg) scaleX(.9);
        opacity: .9;
    }

    60% {
        transform: rotate(135deg) scaleX(1.1);
        opacity: .8;
    }

    33% {
        transform: rotate(235deg) scaleX(.9);
        opacity: .9;
    }

    0% {
        transform: rotate(1turn) scaleX(1.1);
        opacity: 1;
    }
}

@keyframes animate {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }

    100% {
        transform: translateY(-3000%);
        opacity: 1;
    }
}

@keyframes fadeinout {
    0% {
        opacity: 0;
        transform: translate3d(0, 100px, 0);
    }

    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

.on-show {
    animation: fadeInUp;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.main-slider-none {
    display: none;
}

h1 {
    text-align: left;
}

/* Ẩn 2 thanh cuộn */
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    overflow: hidden;
}


/* banner gioi thieu */

.main-banner-gioi-thieu {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
}

.img-container-gioi-thieu {
    width: 100%;
    height: 580px;
    overflow: hidden;
}

.main-banner-gioi-thieu h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 230px;
    font-size: 18px;
    font-weight: 500;
    color: #076290;
    text-align: right;
}

.main-banner-gioi-thieu h1 i {
    font-size: 8px;
    margin-left: 10px;
}

.opacityy {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
}

.img-container-gioi-thieu img {
    width: 100%;
}

/*  */

.inner-contact {
    text-align: center;
}

.inner-contact ul li {
    list-style: none;
    margin: 0 0 10px;
    font-weight: 300;
}

.inner-contact ul li strong {
    font-weight: 700;
}


.inner-contact h1 {
    font-size: 1.8vw;
    text-transform: uppercase;
    font-weight: 700;
    color: #076290;
    text-align: center;
    margin-top: 100px;

    &::after {
        content: "";
        position: relative;
        display: block;
        margin: 30px auto 40px;
        width: 80px;
        height: 1px;
        background-color: currentColor;
    }
}

.guid-form {
    position: relative;
    display: block;
    max-width: 900px;
    color: #fff;
    margin: 0 0 !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
}

.inner-guid-form {
    padding: 40px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.inner-guid-form div {
    padding: 5px !important;
}

.input-guid {
    width: 100%;
}

input[type='text'] {
    color: #777 !important;
    font-size: 15px;
    line-height: 48px;
    padding: 0 20px;
    border: 1px solid #ccc;
    width: 100%;
    height: 48px;
    background-color: #fff;
    transition: all .3s ease-in-out;
    padding: 0 0 !important;
}

input[type='text']::placeholder {
    padding: 15px;
}

textarea::placeholder {
    padding: 15px;
}

.but-form {
    background-color: #ed1c24;
    float: right;
    text-transform: uppercase;
    cursor: pointer;
}

.but-form span {
    margin: 15px 25px;
}

/*  */

.contact-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.guid-form {
    position: relative;
    display: block;
    max-width: 900px;
    color: #fff;
    margin: 0 0 !important;
}

.inner-guid-form {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}

.inner-guid-form div {
    padding: 5px !important;
}

.input-guid {
    width: 100%;
}

input[type='text'] {
    color: #777 !important;
    font-size: 15px;
    line-height: 48px;
    padding: 0 20px;
    border: 1px solid #ccc;
    width: 100%;
    height: 48px;
    background-color: #fff;
    transition: all .3s ease-in-out;
    padding: 0 0 !important;
}

input[type='text']::placeholder {
    padding: 15px;
}

textarea::placeholder {
    padding: 15px;

}

textarea {
    width: 100%;
}

.but-form {
    background-color: #ed1c24;
    float: right;
    text-transform: uppercase;
    cursor: pointer;
}

.but-form span {
    margin: 15px 25px;
}


@media only screen and (max-width:426px) {
    .inner-contact h1 {
        font-size: 7.8vw;
    }

    .inner-contact {
        padding: 0 10px;
    }

    .img-container-gioi-thieu {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .main-banner-gioi-thieu h1 {
        display: none;
    }

    .inner-contact h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .navigation.sticky .logo-container {
        margin-left: 0px;
    }
    
    .stand-navigation ul li a {
        font-size: 10px;
    }
}
