@media only screen and (max-width:1100px) {

    .navigation {
        z-index: 10;
        margin-top: 0px;
        width: 100%;
        background-color: #fff;
        transition: 1s all ease;
        position: relative;
    }

    .logo-container {
        background-color: #fff;
        bottom: -10px;
    }

    .navigation.sticky .logo-container {
        position: relative;
        bottom: 0px;
        margin-left: 45%;
    }


    .main-slider-none {
        display: block;
    }

    .hide-1024 {
        display: none;
    }

    .dots {
        right: 25%;
        bottom: 10px;
    }

    .nineteen-years-resize {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .inner-nineteen-years-resize {
        padding: 20px;
        position: relative;
    }

    .carousel_inner {
        height: 100%;
    }

    .circle-nineteen-years-resize {
        width: 750px;
        height: 750px;
        background-color: #07629014;
        border-radius: 50%;
        margin-top: -150px;
    }

    .content-nineteen-years-resize {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        margin-top: 150px;
    }

    .content-nineteen-years-resize span {
        font-size: 6vw;
        color: #bbb;
        font-weight: 700;

    }


    .content-nineteen-years-resize p {
        position: absolute;
        font-size: 50vw;
        color: hsla(0, 0%, 39%, .1);
        font-weight: 700;
        top: -60px;
        left: 25%;
    }

    .ml110 {
        margin-left: 110px;
    }

    .data-nineteen-years-resize {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 170px;
        padding: 0 100px;
        width: 100%;
        text-align: center;

    }

    .item-num {
        margin: 20px 20px;
        padding: 0 auto;
    }

    .item-num span {
        font-weight: 500;
        display: block;
        color: #076290;
        font-size: 15px;
    }


    .num-s {
        font-size: 37px;
        line-height: 2;
        font-weight: 500;
    }

    .slider .list {
        position: absolute;
        width: max-content;
        height: 100%;
        left: 0;
        top: -295px;
        display: flex;
        opacity: 1;
    }

    .item {
        display: flex;
        flex-direction: column;
    }

    .slider {
        width: 100%;
    }

    .img-container-slider {
        width: 100%;
        height: fit-content;
    }

    .img-container-slider img {
        width: 100%;
        height: fit-content;
    }

    .content-container {
        width: 100%;
        height: 100%;
    }

    .content-container p {
        width: 38%;
    }

    .content-container h2 {
        margin-top: 40px;
    }

    .typical-projects {
        height: 100%;
    }

    /* newnewnew */


    .news-events-resize {
        height: fit-content;
        margin: 50px auto;
    }

    .news-events-resize>h1 {
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        color: #bbb;

        &::after {
            content: "";
            position: relative;
            display: block;
            margin: 20px auto 0;
            width: 40%;
            height: 1px;
            background: linear-gradient(90deg, hsla(0, 0%, 80%, 0), #ccc 20%, #ccc 80%, hsla(0, 0%, 80%, 0));
        }
    }

    .inner-news {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }

    .pic-new-item-1 {
        width: calc(50% - 25px);
        margin: 0 20px 0 0;
    }

    .new-item {
        width: 60%;
        float: left;
        padding: 10px;
        position: relative;
        display: block;
    }

    .new-item:first-child {
        width: 40%;
        height: 100%;
        margin: 0 10px 0 0;
    }

    .new-item:nth-child(2) {
        width: 50%;
        margin: 0 0 10px;
    }

    .new-item img {
        width: 100%;
    }

    .item-2 {
        display: flex;
    }

    .pic-new-item-1 {
        width: 80%;
    }

    .pic-new-item-1 img {
        width: 100%;
    }

    .content-new-item {
        width: 60%;
    }

    .txt-new-item h3 {
        font-size: 15px;
        margin: 18px 0 0;
        max-height: 65px;
        color: #444;
        font-weight: 300;
    }

    .date-thumb-new {
        position: relative;
        width: 60px !important;
        height: 45px !important;
        font-size: 24px;
        background-color: #076290;
        width: 19%;
        height: fit-content;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .new1 {
        margin: 18px 0 0;
    }

    .date-thumb-new span:nth-child(2) {
        font-size: 10px;
    }

    .new-2-item {
        margin-top: 20px;
    }

    /*  */

    .content-img-container div {
        background-color: #076290;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 50px;
        color: #fff;
    }

    .content-img-container h1 {
        font-size: 24px;
        margin: 0 0;
    }

    .content-img-container p {
        font-weight: 400;
        font-size: 10px;
        margin: 0 0;
    }

    .p-resize {
        padding-top: 20px;
        font-size: 15px;
    }

    .date-thumb-1-resize {
        margin-top: 20px;
    }

    .content-img-container2 {
        margin-left: 20px;
    }

    .tittle-news-events-resize {
        position: relative;
        padding: 30px 2%;
        margin: 0;
        text-align: center;
    }

    .tittle-news-events-resize h1 {
        color: #cbcbcb;
        font-weight: 700;
        text-align: center;
    }

    .tittle-news-events-resize h1::after {
        content: "";
        position: relative;
        display: block;
        margin: 20px auto 0;
        width: 80px;
        height: 1px;
        background: linear-gradient(90deg, hsla(0, 0%, 80%, 0), #ccc 20%, #ccc 80%, hsla(0, 0%, 80%, 0));
    }

    .btn-news-resize {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inner-btn-news-resize {
        font-family: Oswald, sans-serif;
        color: #076290;
        border: 1px solid #076290;
        font-size: 14px;
        font-weight: 600;
        width: 120px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        transition: 0.5s all;
        margin-bottom: 20px;
    }

    .inner-btn-news-resize div {
        width: 120px;
        height: 45px;
        background-color: #076290;
        position: absolute;
        z-index: -1;
        left: -101%;
        transition: 0.5s all;
    }

    .btn-news-resize:hover .inner-btn-news-resize div {
        left: 0%;
    }

    .btn-news-resize:hover .inner-btn-news-resize {
        color: #fff;
    }

    /*  */
    .item1 {
        width: 785px;
    }
    /*  */

    .partner-resize h1 {
        color: #fff;
        font-weight: 700;
        text-align: center;
        padding-top: 20px;
    }

    .partner-resize h1::after {
        content: "";
        position: relative;
        display: block;
        margin: 20px auto 0;
        width: 80px;
        height: 1px;
        background: linear-gradient(90deg, hsla(0, 0%, 80%, 0), #fff 20%, #fff 80%, hsla(0, 0%, 80%, 0));
    }

    .partner-resize {
        background-color: #B8D2E0;
    }

    .inner-partner-resize {
        padding: 0px 60px !important;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .img-container {
        background-color: #fff;
    }

    .inner-partner-resize h2 {
        color: #000;
        font-size: 12px;
        padding: 12px 0;
    }

    /*  */

    .clients-resize {
        width: 100%;
    }

    .clients-resize h1 {
        color: #cbcbcb;
        font-weight: 700;
        text-align: center;
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .clients-resize h1::after {
        content: "";
        position: relative;
        display: block;
        margin: 20px auto 0;
        width: 80px;
        height: 1px;
        background: linear-gradient(90deg, hsla(0, 0%, 80%, 0), #ccc 20%, #ccc 80%, hsla(0, 0%, 80%, 0));
    }

    .slider1 {
        opacity: 1;
        margin-top: 0;
    }

    .img-container-slider1 {
        width: 265px;
        height: 345px;
    }

    .img-container-slider1 img {
        margin-top: 0px;
        margin-left: -250px;
        width: 250%;
    }

    /* company-info */
    .company-info {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .company-info li {
        justify-content: center;
        align-items: center;
    }

    .contact {
        padding: 0;
    }

    .contact h1 {
        text-align: center;
    }


    /* brand */

    .brand-resize {
        overflow: hidden;
        opacity: 1;
        cursor: pointer;
        padding-top: 50px;
    }

    .brand-resize:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.477);
    }

    .brand-resize:hover .img-container img {
        width: 55%;
    }

    .brand-resize:hover .img-container {
        border: 1px solid #bbbbbb5f;
    }

    .inner-brand-resize {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .brand-resize h2 {
        font-size: 13px;
        font-weight: 500;
        color: #076290;
        height: auto;
        max-height: 42px;
        margin-top: 15px;
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        border: 1px solid #bbbbbb;
        padding: 5px;
        transition: 0.3s all;
    }
}


@media only screen and (max-width: 769px) {
    .inner-new-2-resize {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .slider1 {
        width: 90%;
        height: 1000px;
        margin: auto;
        position: relative;
        overflow: hidden;
        z-index: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 330px;
        transition: 2s all;
    }


    .item1 {
        display: flex;
        flex-direction: column;
        margin-left: 75px;
    }

    .content-container {
        width: 77%;
        height: 100%;
    }

    .content-container1 {
        margin: 0 0;
    }

    .img-container-slider1 {
        width: 100%;
    }

    .img-container-slider1 img {
        width: 100%;
    }
}

@media only screen and (max-width: 426px) {
    .stand-navigation ul li {
        font-size: 2.1vh;
    }
    
    .item1 {
        margin-left: 0px;
    }

    .slider1 .buttons1 {
        display: none;
    }

    .content-container1 h1 {
        margin: 0 0;
        width: 100%;
        height: auto;
        font-size: 35px;
    }

    .content-container h1 {
        font-size: 30px;
    }

    .content-container p {
        width: 20%;
    }

    .img-container-slider1 {
        width: 100%;
    }

    .content-container1 {
        margin: 0;
    }

    .img-container-slider1 img {
        margin-top: 0px;
        margin-left: -380px;
        width: 244%;
    }

    .slider1 {
        width: 90%;
        height: 600px;
        margin: auto;
        position: relative;
        overflow: hidden;
        z-index: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-top: 330px; */
        transition: 2s all;
    }

    /* newnewnew */
    .inner-news {
        flex-direction: column;
    }

    .new-item:first-child {
        width: 100%;
        height: 100%;
        margin: 0 10px 0 0;
    }

    .new-item:nth-child(2) {
        width: 100%;
    }

    .pic-new-item-1 {
        width: 100%;
    }

    .content-new-item {
        width: 100%;
    }

    .item-2 {
        flex-direction: column;
    }

    .date-thumb-new {
        margin-top: 0;
    }

    .new2 {
        top: 10px;
        position: absolute;
    }

    .new1 {
        top: 10px;
        position: absolute;
    }

    .new-2-item {
        position: relative;
    }

    .totop {
        margin-top: -10px;
    }


    /* inner-partner-resize */

    .inner-partner-resize {
        grid-template-columns: repeat(1, 1fr);
    }

    /* .clients-resize h1 */

    .clients-resize h1 {
        font-size: 32px;
    }

    /* main banner */

    .carousel .dots li {
        width: 15px;
        height: 15px;
        border: #fff 1px solid;
        font-size: 8px;
    }

    .carousel .dots li.active {
        border: red 1px solid;
        color: red;
    }

    .dots {
        right: 22%;
    }
}
